header {
    margin-bottom: 55px;
}

/*---------------Video----------------*/

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content:center;
    overflow: hidden;
    margin-right: 0;
    
}

.section h2 {
    text-align: center;
    font-size: 3rem;
    font-family: "Roboto";
    background: #ffff00 ;
    padding: 10px;
    margin: 10px;
    z-index: 1;
    opacity: 0.5;
   
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
   position: absolute;
   top: 0;
   left: 0;
   background-color: #f0ffff;
   width: 100%;
   height: 100vh;
   opacity: 0.3;
   margin: 0 auto;
   padding: 0;
}



/*---------------Content--------------*/

.content {
    width: 80%;
    margin: 0 auto;
}

.featurette {
    margin: 0 auto;
    padding: 40px 0;
    width: 95%;
}

.button-row {
    padding-left: 60px;
    padding-bottom: 40px;
}

/*---------------Slides pictures--------------*/

h2 {
    display: block;
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 0;
  font-weight: bold;
  background-color: #a9a9a9;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background-color: #fff;
   z-index: 1;
   opacity: 0.1;
   font-size: 6em;
   color: #000;
   
}