header {
    margin-bottom: 55px;
}

/*---------------Video----------------*/
.embed-responsive {
    padding: 75px 0;
}

/*---------------Content--------------*/
.content {
    width: 80%;
    margin: 0 auto;
}

.featurette {
    margin: 0 auto;
    padding: 40px 0;
    width: 95%;
}
