/*--------------General---------------*/
.container-fluid {
    width: 100%;
}

html, body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/*---------------Navbar---------------*/
nav {
    box-shadow: 0px 8px 10px 1px rgba(0,0,0,0.2);
}

/*---------------Video----------------*/
.video-wrapper {
    padding: 56.25% 0 0 0;
    position: relative;
}

.video {
    position: absolute;
    border-style: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
}

.video-overlay {
    background: rgba(0,0,0, 0.3);
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: -98;
}

.page-title {
    font-size: 3.5rem;
    font-family: 'Gugi', cursive;
    padding: 5rem 0;
}


/*---------------Content--------------*/

.content {
    width: 70%;
    margin: 0 auto;
}

.featurette {
    margin: 0 auto;
    padding: 3rem 0;
}

.home-content-imgDiv {
    text-align: right;
}

.home-content-img {
    margin-top: 3.4rem;
}

.button-row {
    padding-left: 1rem;
}

/*---------------Post----Slides pictures--------------*/

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
   z-index: 1;
   opacity: 0.6;
   font-size: 6rem;
   color: #ffff00;
   
}