/*--------------General---------------*/

.container-fluid {
    width: 99%;
}

html,
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/*---------------Navbar---------------*/

nav {
    box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
}

/*---------------Video----------------*/

.video-wrapper {
    padding: 56.25% 0 0 0;
    position: relative;
}

.video {
    position: absolute;
    border-style: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
}

.video-overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: -98;
}

.page-title {
    font-size: 3.5rem;
    font-family: 'Gugi', cursive;
    padding: 5rem 0;
}

.special-hero-home {
    background-image: url(https://www.topgear.com/sites/default/files/styles/fit_1960x1102/public/cars-car/carousel/2016/12/2gtc4lussojune2016.jpg?itok=vI1ntX3u);
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center 25%;
}

figure {
    margin: 0 0 1rem;
}

/*---------------Content--------------*/

.content {

    margin: 0 auto;
}

.latest-reviews {
    margin-top: 5rem;
}

.latest-reviews-hr {
    width: 30%;
    border: 2px solid #ffc107;
    margin-bottom: 4rem;
}

.featurette {
    margin: 5rem;
    padding: 2rem 0;
    border: 5px solid #dcdcdc;
    margin-bottom: 3rem;
    width: 91%;
}

.featurette-heading {
    font-family: 'Lato', sans-serif;
    margin-bottom: 1.5rem;
}

.home-content-imgDiv {
    text-align: right;
}

.home-content-img {
    margin-top: 4.3rem;
    width: 100%;
}

.button-row {
    padding-left: 1rem;
}

/*--------------Footer----------------*/

footer {
    padding-top: 2rem;
    position: relative;
}

footer a {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

footer a:hover {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-pinterest:hover {
    color: #c8232c;
}

.fa-instagram:hover {
    color: #fbad50;
}


.fa-twitter:hover {
    color: #38a1f3;
}


/*--------------------Contact--------------------------*/

.contact {
    padding: 10.5rem 0;
}

.contact .latest-reviews {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.contact-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.contact-content {
    width: 100%;
}

.info {
    margin-top: 1.9rem;
}

.info i {
    font-size: 1.9rem;
    padding: 0;
    margin: 0;
    color: #02434b;
    margin-right: 1.2rem;
    text-align: center;
    width: 1.2rem;
}

.contact-h4 {
    font-size: 0.85rem;
    line-height: 1.4;
}

.contact-h4 span {
    font-size: 0.85rem;
    color: #999999;
}

.form-control {
    padding: 1.55rem;
    font-size: 1rem;
    margin-bottom: .7rem;
    background: #f9f9f9;
    border: 0;
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid #ffc107;
}

.contact-button {
    padding: .6rem;
}

/*--------------------Gallery--------------------------*/

.row {
    margin-top: 1rem;
}

.hero-img-gallery {
    background-image: url(https://www.topgear.com/sites/default/files/styles/fit_1960x1102/public/cars-car/carousel/2015/02/buyers_guide_-_laf_-_front.jpg?itok=8Jy7840c);
    background-position: center 55%;
}

.hero-img {
    height: 400px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.zoom:hover {
    transform: scale(1.5);
    opacity: 0.7;
}


/*--------------------Media Queries--------------------------*/

@media (min-width:992px) {
    .column {
        width: 30%;
        margin-top: 2rem;

    }
}

@media (min-width: 768px) {
    .column {
        width: 30%;
        margin-top: 3rem;
    }
}
